* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sklet {
  position: relative;
  width: 400px;
  height:100vh;
  background-color: #e5e7eb;
  border: 1px solid #d1d5db;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 1rem;
}

.text-rodal{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.button {
  background-color: #3b82f6;
  color: white;
  padding:  13px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
  position: absolute;
}

.button:hover {
  background-color: #1d4ed8;
}

.button1 { top: 20px; left: 50%; transform: translateX(-50%); }

.button2 { top: 150px; left: 100px; }

.button3 { top: 150px; right: 100px; }

.button4 { top: 250px; left: 50%; transform: translateX(-50%); }

.button5 { top: 270px; left: 70px; }

.button6 { top: 270px; right: 70px; }

.button7 { top: 190px; left: 60%; transform: translateX(-50%); }

.button8 { top: 420px; left: 30px; }

.button9 { top: 420px; right: 30px; }

.button10 { bottom: 450px; left: 50%; transform: translateX(-50%); }

.button11 { bottom: 240px; left: 140px; }

.button12 { bottom: 240px; right: 140px; }

.button13 { bottom: 20px; left: 50%; transform: translateX(-50%); }


